<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ListIcon</key>
	<array>
        <dict>
            <key>title</key>
            <string>Trang chủ</string>
            <key>icon</key>
            <string>icHomeHomeColor</string>
            <key>iconNotCircle</key>
            <string>icHomeHomeColorCircle</string>
            <key>action</key>
            <integer>0</integer>
        </dict>
		<dict>
			<key>title</key>
			<string>Đặt vé</string>
			<key>icon</key>
			<string>icHomeBookWhite</string>
			<key>iconNotCircle</key>
			<string>icHomeBookWhiteCircle</string>
			<key>action</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>Làm thủ tục</string>
			<key>icon</key>
			<string>icHomeCheckinWhite</string>
			<key>iconNotCircle</key>
			<string>icHomeCheckinWhiteCircle</string>
			<key>action</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>Đặt chỗ của tôi</string>
			<key>icon</key>
			<string>icHomeMybooking</string>
			<key>iconNotCircle</key>
			<string>icHomeMybookingWhiteCircle</string>
			<key>action</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>Theo dõi</string>
			<key>icon</key>
			<string>icHomeTrackingWhite</string>
			<key>iconNotCircle</key>
			<string>icHomeTrackingWhiteCircle</string>
			<key>action</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>Lịch bay</string>
			<key>icon</key>
			<string>icHomeScheduleWhite</string>
			<key>iconNotCircle</key>
			<string>icHomeScheduleWhiteCircle</string>
			<key>action</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>Lutusmiles</string>
			<key>icon</key>
			<string>icHomeLotusWhite</string>
			<key>iconNotCircle</key>
			<string>icHomeLotusWhiteCircle</string>
			<key>action</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>Đặt khách sạn</string>
			<key>icon</key>
			<string>icHomeHotel</string>
			<key>iconNotCircle</key>
			<string>icHomeHotelWhiteCircle</string>
			<key>action</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>Bản đồ sân bay</string>
			<key>icon</key>
			<string>icHomeMapWhite</string>
			<key>iconNotCircle</key>
			<string>icHomeMapWhiteCircle</string>
			<key>action</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>Thông báo</string>
			<key>icon</key>
			<string>icHomeNotifyWhite</string>
			<key>iconNotCircle</key>
			<string>icHomeNotifyWhiteCircle</string>
			<key>action</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>VNAHolidays</string>
			<key>icon</key>
			<string>icHomeVnaholidayWhite</string>
			<key>iconNotCircle</key>
			<string>icHomeVnaholidayWhiteCircle</string>
			<key>action</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>Cài đặt</string>
			<key>icon</key>
			<string>icHomeSettingWhite</string>
			<key>iconNotCircle</key>
			<string>icHomeSettingWhiteCircle</string>
			<key>action</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>My profile</string>
			<key>icon</key>
			<string>icHomeHotelWhiteCircle</string>
			<key>iconNotCircle</key>
			<string>icHomeHotelWhiteCircle</string>
			<key>action</key>
			<integer>12</integer>
		</dict>
	</array>
	<key>BgColor</key>
	<integer>1</integer>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
