<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ListIcon</key>
	<array>
		<dict>
			<key>title</key>
			<string>Trang chủ</string>
			<key>icon</key>
			<string>icHomeHomeWhiteCircle</string>
			<key>iconHightLight</key>
			<string>icHomeHomeColorCircle</string>
			<key>iconNotCircle</key>
			<string>icHomeHomeWhite</string>
			<key>iconHightLightNotCircle</key>
			<string>icHomeHomeColor</string>
			<key>action</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>Đặt vé</string>
			<key>icon</key>
			<string>icHomeBookWhiteCircle</string>
			<key>iconHightLight</key>
			<string>&quot;&quot;</string>
			<key>iconNotCircle</key>
			<string>icHomeBookWhite</string>
			<key>iconHightLightNotCircle</key>
			<string>&quot;&quot;</string>
			<key>action</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>Lotusmiles</string>
			<key>icon</key>
			<string>icHomeLotusWhiteCircle</string>
			<key>iconHightLight</key>
			<string>icHomeLotusColorCircle</string>
			<key>iconNotCircle</key>
			<string>icHomeLotusWhite</string>
			<key>iconHightLightNotCircle</key>
			<string>icHomeLotusColor</string>
			<key>action</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>Làm thủ tục</string>
			<key>icon</key>
			<string>icHomeCheckinWhiteCircle</string>
			<key>iconHightLight</key>
			<string>&quot;&quot;</string>
			<key>iconNotCircle</key>
			<string>icHomeCheckinWhite</string>
			<key>iconHightLightNotCircle</key>
			<string>&quot;&quot;</string>
			<key>action</key>
			<integer>3</integer>
		</dict>
        <dict>
            <key>title</key>
            <string>Get all contact</string>
            <key>icon</key>
            <string>icHomeMapWhiteCircle</string>
            <key>iconHightLight</key>
            <string>&quot;&quot;</string>
            <key>iconNotCircle</key>
            <string>icHomeMapWhite</string>
            <key>iconHightLightNotCircle</key>
            <string>&quot;&quot;</string>
            <key>action</key>
            <integer>9</integer>
        </dict>
        <dict>
            <key>title</key>
            <string>Horizontal ScrollView</string>
            <key>icon</key>
            <string>icHomeNotifyWhiteCircle</string>
            <key>iconHightLight</key>
            <string>&quot;&quot;</string>
            <key>iconNotCircle</key>
            <string>icHomeNotifyWhite</string>
            <key>iconHightLightNotCircle</key>
            <string>&quot;&quot;</string>
            <key>action</key>
            <integer>10</integer>
        </dict>
        <dict>
            <key>title</key>
            <string>Check duplicate phone</string>
            <key>icon</key>
            <string>icHomeSettingWhiteCircle</string>
            <key>iconHightLight</key>
            <string>&quot;&quot;</string>
            <key>iconNotCircle</key>
            <string>icHomeSettingWhite</string>
            <key>iconHightLightNotCircle</key>
            <string>&quot;&quot;</string>
            <key>action</key>
            <integer>11</integer>
        </dict>
        <dict>
            <key>title</key>
            <string>My profile</string>
            <key>available</key>
            <string>VN</string>
            <key>icon</key>
            <string>icHomeHotelWhiteCircle</string>
            <key>iconHightLight</key>
            <string>icHomeHotelWhiteCircle</string>
            <key>iconNotCircle</key>
            <string>icHomeHotelWhiteCircle</string>
            <key>iconHightLightNotCircle</key>
            <string>icHomeHotelWhiteCircle</string>
            <key>action</key>
            <integer>12</integer>
        </dict>
		<dict>
			<key>title</key>
			<string>Đặt chỗ của tôi</string>
			<key>icon</key>
			<string>icHomeMybookingWhiteCircle</string>
			<key>iconHightLight</key>
			<string>&quot;&quot;</string>
			<key>iconNotCircle</key>
			<string>icHomeMybooking</string>
			<key>iconHightLightNotCircle</key>
			<string>&quot;&quot;</string>
			<key>action</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>Theo dõi</string>
			<key>icon</key>
			<string>icHomeTrackingWhiteCircle</string>
			<key>iconHightLight</key>
			<string>&quot;&quot;</string>
			<key>iconNotCircle</key>
			<string>icHomeTrackingWhite</string>
			<key>iconHightLightNotCircle</key>
			<string>&quot;&quot;</string>
			<key>action</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>Date Examples</string>
			<key>icon</key>
			<string>icHomeScheduleWhiteCircle</string>
			<key>iconHightLight</key>
			<string>&quot;&quot;</string>
			<key>iconNotCircle</key>
			<string>icHomeScheduleWhite</string>
			<key>iconHightLightNotCircle</key>
			<string>&quot;&quot;</string>
			<key>action</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>VNAHolidays</string>
			<key>icon</key>
			<string>icHomeVnaholidayWhiteCircle</string>
			<key>iconHightLight</key>
			<string>&quot;&quot;</string>
			<key>iconNotCircle</key>
			<string>icHomeVnaholidayWhite</string>
			<key>iconHightLightNotCircle</key>
			<string>&quot;&quot;</string>
			<key>action</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>Đặt khách sạn</string>
			<key>icon</key>
			<string>icHomeHotelWhiteCircle</string>
			<key>iconHightLight</key>
			<string>&quot;&quot;</string>
			<key>iconNotCircle</key>
			<string>icHomeHotel</string>
			<key>iconHightLightNotCircle</key>
			<string>&quot;&quot;</string>
			<key>action</key>
			<integer>8</integer>
		</dict>
	</array>
	<key>BgColor</key>
	<integer>1</integer>
	<key>version</key>
	<integer>12</integer>
</dict>
</plist>
