<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>ListIcon</key>
        <array>
            <dict>
                <key>title</key>
                <string>DC_HOM_tab_home</string>
                <key>icon</key>
                <string>icHomeHomeWhiteCircle</string>
                <key>iconHightLight</key>
                <string>icHomeHomeColorCircle</string>
                <key>iconNotCircle</key>
                <string>icHomeHomeWhite</string>
                <key>iconHightLightNotCircle</key>
                <string>icHomeHomeColor</string>
                <key>action</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>title</key>
                <string>DC_HOM_tab_book_flights</string>
                <key>icon</key>
                <string>icHomeBookWhiteCircle</string>
                <key>iconHightLight</key>
                <string>&quot;&quot;</string>
                <key>iconNotCircle</key>
                <string>icHomeBookWhite</string>
                <key>iconHightLightNotCircle</key>
                <string>&quot;&quot;</string>
                <key>action</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>title</key>
                <string>DC_HOM_tab_lotusmiles</string>
                <key>icon</key>
                <string>icHomeLotusWhiteCircle</string>
                <key>iconHightLight</key>
                <string>icHomeLotusColorCircle</string>
                <key>iconNotCircle</key>
                <string>icHomeLotusWhite</string>
                <key>iconHightLightNotCircle</key>
                <string>icHomeLotusColor</string>
                <key>action</key>
                <integer>2</integer>
            </dict>
            <dict>
                <key>title</key>
                <string>DC_MYB_lbl_check_in</string>
                <key>icon</key>
                <string>icHomeCheckinWhiteCircle</string>
                <key>iconHightLight</key>
                <string>&quot;&quot;</string>
                <key>iconNotCircle</key>
                <string>icHomeCheckinWhite</string>
                <key>iconHightLightNotCircle</key>
                <string>&quot;&quot;</string>
                <key>action</key>
                <integer>3</integer>
            </dict>
            <dict>
                <key>title</key>
                <string>DC_MBOK_lbl_my_booking</string>
                <key>icon</key>
                <string>icHomeMybookingWhiteCircle</string>
                <key>iconHightLight</key>
                <string>&quot;&quot;</string>
                <key>iconNotCircle</key>
                <string>icHomeMybooking</string>
                <key>iconHightLightNotCircle</key>
                <string>&quot;&quot;</string>
                <key>action</key>
                <integer>4</integer>
            </dict>
            <dict>
                <key>title</key>
                <string>HOME_lbl_tracking</string>
                <key>icon</key>
                <string>icHomeTrackingWhiteCircle</string>
                <key>iconHightLight</key>
                <string>&quot;&quot;</string>
                <key>iconNotCircle</key>
                <string>icHomeTrackingWhite</string>
                <key>iconHightLightNotCircle</key>
                <string>&quot;&quot;</string>
                <key>action</key>
                <integer>5</integer>
            </dict>
            <dict>
                <key>title</key>
                <string>HOME_lbl_schedule</string>
                <key>icon</key>
                <string>icHomeScheduleWhiteCircle</string>
                <key>iconHightLight</key>
                <string>&quot;&quot;</string>
                <key>iconNotCircle</key>
                <string>icHomeScheduleWhite</string>
                <key>iconHightLightNotCircle</key>
                <string>&quot;&quot;</string>
                <key>action</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>title</key>
                <string>VNAHolidays</string>
                <key>icon</key>
                <string>icHomeVnaholidayWhiteCircle</string>
                <key>iconHightLight</key>
                <string>&quot;&quot;</string>
                <key>iconNotCircle</key>
                <string>icHomeVnaholidayWhite</string>
                <key>iconHightLightNotCircle</key>
                <string>&quot;&quot;</string>
                <key>action</key>
                <integer>7</integer>
            </dict>
            <dict>
                <key>title</key>
                <string>HOME_lbl_book_hotel</string>
                <key>icon</key>
                <string>icHomeHotelWhiteCircle</string>
                <key>iconHightLight</key>
                <string>&quot;&quot;</string>
                <key>iconNotCircle</key>
                <string>icHomeHotel</string>
                <key>iconHightLightNotCircle</key>
                <string>&quot;&quot;</string>
                <key>action</key>
                <integer>8</integer>
            </dict>
            <dict>
                <key>title</key>
                <string>DC_MOR_lbl_airport_maps</string>
                <key>icon</key>
                <string>icHomeMapWhiteCircle</string>
                <key>iconHightLight</key>
                <string>&quot;&quot;</string>
                <key>iconNotCircle</key>
                <string>icHomeMapWhite</string>
                <key>iconHightLightNotCircle</key>
                <string>&quot;&quot;</string>
                <key>action</key>
                <integer>9</integer>
            </dict>
            <dict>
                <key>title</key>
                <string>DC_MOR_lbl_notification</string>
                <key>icon</key>
                <string>icHomeNotifyWhiteCircle</string>
                <key>iconHightLight</key>
                <string>&quot;&quot;</string>
                <key>iconNotCircle</key>
                <string>icHomeNotifyWhite</string>
                <key>iconHightLightNotCircle</key>
                <string>&quot;&quot;</string>
                <key>action</key>
                <integer>10</integer>
            </dict>
            <dict>
                <key>title</key>
                <string>DC_ST_lbl_setting</string>
                <key>icon</key>
                <string>icHomeSettingWhiteCircle</string>
                <key>iconHightLight</key>
                <string>&quot;&quot;</string>
                <key>iconNotCircle</key>
                <string>icHomeSettingWhite</string>
                <key>iconHightLightNotCircle</key>
                <string>&quot;&quot;</string>
                <key>action</key>
                <integer>11</integer>
            </dict>
            <dict>
                <key>title</key>
                <string>MP_ST_lbl_myprofile</string>
                <key>available</key>
                <string>VN</string>
                <key>icon</key>
                <string>icHomeMyProfileWhiteCircle</string>
                <key>iconHightLight</key>
                <string>&quot;&quot;</string>
                <key>iconNotCircle</key>
                <string>icHomeMyProfileWhiteCircle</string>
                <key>iconHightLightNotCircle</key>
                <string>&quot;&quot;</string>
                <key>action</key>
                <integer>12</integer>
            </dict>
        </array>
        <key>BgColor</key>
        <integer>1</integer>
        <key>version</key>
        <integer>4</integer>
    </dict>
</plist>
